@import '../../styles/variables';

.box-card {
  border-radius: 0;
  margin-bottom: 15px;
  .card-title {
    margin: 0 0 18px;
    padding-left: 8px;
    height: 14px;
    line-height: 14px;
    border-left: solid $sc1 $sw2;
    color: $sc13;
    font-size: 14px;
    font-weight: bolder;
  }
  .el-form-item__label {
    font-weight: normal;
    color:$sc8;
  }
  .el-select.el-select--mini {
    width: 100%;
  }
  .el-input__inner {
    border-radius: 0;
  }
  .el-input.is-active .el-input__inner, .el-input__inner:focus {
    border-color: $sc3;
  }
  .el-form-item.is-success .el-input__inner{
    border-color: $sc4;
  }
  .line.el-col.el-col-2{
    text-align: center;
  }
  // radio button
  .el-radio__input.is-checked .el-radio__inner{
    border-color: $sc4;
    background: $sc4;
  }
  .el-radio__input.is-checked+.el-radio__label{
    color:$sc4;
  }
  .el-date-editor.el-input{
    width: 100%;
  }
  .el-date-editor--datetimerange.el-input__inner{
    width: 100%;
  }
  .el-button--text{
    font-size: $sfs;
    color: $sc18;
  }
  .el-input--medium .el-input__inner{
    height: $sh3;
    line-height: $sh3 - 2px;
  }




  //.clearfix:before,
  //.clearfix:after {
  //  display: table;
  //  content: "";
  //}
  //.clearfix:after {
  //  clear: both
  //}
}
