$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//sidebar
//$menuBg:#304156;
//$subMenuBg:#1f2d3d;
//$menuHover:#001528;

$menuBg:#f5f4f4;
$subMenuBg:#f5f4f4;
$menuHover: #fff;

$sc15:#D7D7D7;
// 亚太星通site
// 配色
$sc1:#e50017;
$sc1-1:#FF0019;
$sc1-2:#c70115;
$sc2:#a26ae0;
$sc3:#1eb5e5;
$sc3-1:#21CBFF;
$sc3-2:#8AE0FF;
$sc4:#5ccbb1;
$sc5:#ff6b7a;
$sc6:#718995;
$sc7:#36383c;
$sc8:#666666;
$sc9:#eeeff0;
$sc10:#fafafa;
$sc11:#f5f5f5;
$sc12:#efeff1;
$sc13:#333333; // 默认按钮文字color
$sc14:#cccccc; // 默认按钮边框
$sc14-1:#B8B8B8; // 默认按钮边框
$sc14-2:#ACACAC; // 默认按钮边框

$sc15:#F2F2F2; // 默认按钮悬停底色
$sc16:#e6e6e6; // 默认按钮点击底色
$sc17:#999;
$sc18:#007ce5; // 行内操作文字


// 数值
$sz1:10; // 顶部菜单z-index

$sw0:190px; // 左侧菜单宽度
$sw1:1px; // 左侧菜单分割线宽度
$sms0: 24px;
$sws2:10px;
$sds2:6px;
$sds3:300px;
$sw2_1: 600px;
$sw2_2: 800px;
$sw3: 300px;
$sw4:10px;
$sw6: 100px;
$sw7: 35px;

$sww: 760px;
$sfw1:700;
$sfw2:700;
$sfw3:700;
$sw5: 150px;

//表格
$sts0:40px; //小站列表thead行高
$sts2:34px; //小站列表tbody行高
$sts1:#f0f0f0; //小站列表行高


$sw0-1:$sw0 + $sw1;
$sw2:3px;





$sp0:66px; // appmin的padding
$sp1:15px; // appmin的padding
$sp2:32px; // card标题离内容距离


$sh1:50px; // 顶部导航高度
$sh2:34px; // 标签栏高度
$sh3:28px;
$sh4:32px;
$sh5:28px; //input 高度 文字行高
$sh7:28px;
$sh8:34px;

$sbr0:30px;


//字体
$sfs0: 16px;
$sfs1: 14px;
$sfs: 14px;





